.form {
  display: flex;
  flex-direction: column;
}

.formName,
.formNumber {
  display: flex;
  margin: 0.5rem auto;
  font-size: large;
  padding: 0.5rem 15rem 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid blue;
}

.formBtn {
  margin: 5px;
  background-color: blue;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  height: 40px;
  min-width: 185px;
  color: white;
  cursor: pointer;
}

.formBtn:hover {
  background-color: blueviolet;
  cursor: pointer;
}
